# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
truffle/build/contracts/
truffle/build/contracts/Address.json
bin/src/contracts/TaskSama.abi
bin/src/contracts/TaskSama.bin
bin/src/contracts/TaskSama-solc-output.json
bin/src/contracts/TaskSama.json
.env

# Frontend temp data
src/helpers/TasksABI.json
src/helpers/TasksamaABI.json
src/helpers/contractAddresses.js

# Backend
backend/uploads/
backend/contractAddresses.js
backend/helpers/TasksABI.json
backend/helpers/TasksamaABI.json
src/helpers/contractAddresses.js


# Others
src/helpers/TasksABI.json
src/helpers/TasksamaABI.json
backend/helpers/contractAddresses.js
src/helpers/contractAddresses.js
backend/helpers/contractAddresses.js
backend/helpers/contractAddresses.js
note.txt
