.item {
    display: "flex";
    align-items: "center";
    height: "42px";
    font-weight: "500";
    font-family: "Roboto, sans-serif";
    font-size: "14px";
    padding: "0 10px";
  }
 
  .button {
    border: "2px solid rgb(231, 234, 243)";
    border-radius: "12px";
  }