.container {
    box-sizing: border-box;

    position: absolute;
    width: 265px;
    height: 351px;
    left: 0px;
    top: 0px;

    background: #5EC599;
    border: 1px solid #000000;
    border-radius: 25px;
}

.container.top-bar {
    position: relative;

}

.container.video {
    position: relative;

}

.container.bottom-bar {
    position: relative;
}