.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.navbar-links_image img{
    margin-right: 2rem;
    width: 62px;
    height: 16px;
    cursor: pointer;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-links_connect {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
}


.navbar-links_container p,
.navbar-links_connect p {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    margin-right: 2rem;
    
    color: #FFFFFF;
}

.navbar-links_connect button {
    padding: 0.5rem 2rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
