@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
    border: 1px solid black;
} */

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #dbd8d2;
}

::-webkit-scrollbar-thumb {
  background-color: #FF5A1F;
}

/* Daisy UI */
@layer components {
    .tooltip {
        display: block;
        --tooltip-offset:20px;
        --tooltip-tail-offset: 15px;
        --tooltip-color: rgb(255, 249, 249);
        --tooltip-text-color: rgb(0, 0, 0);
    }
    
    .tooltip:before {
        border-radius: 0.25rem;
        border-width: 1px;
        border-color: black;
        font-size: 0.775rem;
    }
    
}
